* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* background: #0f1b5e; */
  background: linear-gradient(
      135deg,
      rgba(20, 142, 173, 0.91) 0%,
      rgba(20, 142, 173, 0.91) 2%,
      rgba(119, 23, 193, 0.95) 47%,
      rgba(119, 23, 193, 1) 100%
    ),
    url(../media/sheldon.jpg);

  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.inner-div {
  margin: auto;
  background: #ffffffc7;
  height: 350px; 
  width: 80%;
  padding: 4rem;
  max-width: 800px;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
}

.network {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20%;
}